<html>
    <head>
        <title>MongoTesti</title>
        <body>
            Haetaas testi:
            <%= name %>
            <%= id %>
            <%= color>


        </body>
    </head>
</html>