<html>
    <title>
        Valinta
    </title>
    <head>
        <body>
            <form action="/valinta" method="POST">
                Valitse tietokanta 1 tai 2
                <br/>
                <input type="text" name="valitse">
                <br/><input type="submit">
            </form>


        </body>
    </head>
</html>